<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket for Ollama</title>
</head>
<body>
	<h1>Websocket Ollama</h1>
	<input type="text" id="inputText" placeholder="Type something...">
	<button id="submitButton">Submit</button>
	<div id="container"></div>

	<script>
		// WebSocket connection to the server
		const socket = new WebSocket('ws://localhost:8000/ws');

		// Function to display messages on the web page
		function showMessage(message) {
			const messageContainer = document.getElementById('container');
			const messageElement = document.createElement('div');
			messageElement.textContent = message;
			messageContainer.appendChild(messageElement);
		}

		// Event handler for when the connection is established
		socket.addEventListener('open', (event) => {
			showMessage('Connected to server.');
		});

		// Event handler for receiving messages from the server
		socket.onmessage = (event) => {
			const textnode= document.createTextNode(event.data)
			document.getElementById('container').append(textnode)
		}

		// Event handler for when the connection is closed
		socket.addEventListener('close', (event) => {
			showMessage('Connection closed.');
		});

		const inputText = document.getElementById("inputText");
		const submitButton = document.getElementById("submitButton");

		submitButton.addEventListener("click", function() {
			const inputValue = inputText.value;
			document.getElementById('container').append(document.createElement("br"))
			document.getElementById('container').append(document.createElement("br"))
			socket.send(inputValue)
		});

	</script>
</body>
</html>
